---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeatureCard from "../components/FeatureCard.astro";
import Functions from "../components/Functions.astro";
import Distributables from "../components/Distributables.astro";
import Developer from "../components/Developer.astro";
import Footer from "../components/Footer.astro";

import presupuestoIcon from "../images/presupuesto.png";
import tiendaIcon from "../images/tienda.png";
import appLogo from "../images/icon.png";

const appName = "PosDesktop";
const distributablesSectionLabel = "distributables-section"
---

<style>
  html {
    scroll-behavior: smooth;
  }
  
  .div-1 {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
  }
</style>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{appName}</title>
  </head>
  <body>
    <Header
      appLogo={appLogo}
      appName={appName}/>
    <Hero appName={appName} goToDistributables=`location.href='#${distributablesSectionLabel}'`/>
    <div class="div-1">
      <FeatureCard
        imagePath={tiendaIcon}
        text="PosDesktop es una aplicación para escritorio dedicada a la administración de las ventas, gastos e inventario de pequeños negocios."
      />
      <FeatureCard
        imagePath={presupuestoIcon}
        text="PosDesktop busca ayudar a pequeños negocios a tener un mejor control sobre sus ventas e impedir pérdidas por falta de mercancía o ventas por realizar."
      />
    </div>
    <Functions />
    <Distributables id={distributablesSectionLabel} />
    <Developer />
  </body>
  <Footer />
</html>
